{% extends "abc.html" %}
{%block body%}
<form class="card-body form"   action="/contact" method="POST" style="background-color:cadetblue;margin-top: 30px;width:400px;height: 500px;margin-left: 250px;" >
    <h3 style="color:crimson;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 100px; font-family: Georgia, 'Times New Roman', Times, serif;padding-top: 10px;font-size:25px ;">Get your Estimate</h3> <br>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name"> <br>
      
        <input type="mobile" class="form-control"id="mobile" placeholder="Enter your mobile number" name="mobile"> <br>
      
        <input type="text" class="form-control" id="city" placeholder="Enter your City" name="city"> <br>
        <h5 style="font-size: 20px ;font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 20px;color:crimson">Select option here:</h5>
        &nbsp;&nbsp;&nbsp; <label for=""> Property type</label> &nbsp;&nbsp;<select name="ppt" id="one" style="margin-left: 20px;" onselect="chooseone()">
            <option value="residential" id="r">Residential</option>
            <option value="commertial" id="c">Commertial</option>
        </select> <br> <br>
        <div type="container">
            &nbsp;&nbsp;&nbsp;<label for=""> Commertial type</label>&nbsp;&nbsp;
              <select  type="dropbox" name="" id="">
                <option value="office">Office</option>
                <option value="Shop">Shop</option>
              </select>
        </div>
      
      
   
    <button type="submit" class="btn btn-primary mt-3" style="margin-left: 20px">Submit</button>
  </form>


  <script>
    function chooseone(){
        document.getElementById('one')
    }
  </script>
{%endblock%}